body {
    background-color: #080D37;
    margin: 0%;
    }
    
.color{
    color: whitesmoke;
} 

.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0%;
}

header{
    text-align: center;
    width: 100%;
    height: 162.531px;
    background-color: #080d37;
    margin: 0%;
    padding: 0%;
}

.links {
    margin: 0px;
    padding: 0px;
    width: 50%;
    text-align: center;
}

.nav-links {
    width: 95.334px;
    height: 12px;
    padding: 7.416px 0px 7.416px 0px;
    margin: 0px 15.960px 0px 15.960px;
    text-decoration: none;
}
.content {
    text-align: center;
}

div {
    margin: 0%;
    padding: 0%;
}

.padding {
    padding: 
    55px 69.5px 55px 69.5px;
}

#headerimg {
    width: 15.58% absolute;
    height: 15.58%;
}
.history-headers{
    text-align: center;
    color: cornflowerblue;
}
#uni-header{
    font-weight: bold;
}
.title{
    color: cornflowerblue;
    padding: 15px;
    
}
.main-header {
    color: whitesmoke;
    text-align: center;
}

.historyTable {
  margin-left: auto;
  margin-right: auto; 
}

.historyTable2 {
  margin-left: auto;
  margin-right: auto;
 
}
table, th, td {
  border:3px solid whitesmoke;
    border-collapse: collapse;
}
p {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
   text-align: center;
}

