body {
      background-color: purple;
      margin: 0%; 
    }


.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0%;
}

div {
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    width: 100%;
    height: 162.531px;
    background-color: #080d37;
    margin: 0%;
    padding: 0%;
}

.links {
    margin: 0px;
    padding: 0px;
    width: 50%;
    text-align: center;
}

.nav-links {
    width: 95.334px;
    height: 12px;
    padding: 7.416px 0px 7.416px 0px;
    margin: 0px 15.960px 0px 15.960px;
    text-decoration: none;
}

.padding {
    padding: 
    55px 69.5px 55px 69.5px;
}

#headerimg {
    width: 15.58% absolute;
    height: 15.58%;
}
